:root {
  --sky-blue: #8ecae6ff;
  --blue-green: #219ebcff;
  --prussian-blue: #023047ff;
  --selective-yellow: #ffb703ff;
  --ut-orange: #fb8500ff;

  --primary: var(--ut-orange);
  --secondary: var(--selective-yellow);
  --primary-text: var(--prussian-blue);
  --secondary-text: white;
  --tertiary-text: #02304780;
  --background: var(--sky-blue);

  font-size: 62.5%;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--primary-text);
}

.loading {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}

header {
  background-color: var(--primary);
  color: var(--secondary-text);
  font-weight: bold;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  gap: 20px;
  display: flex;
  list-style: none;
}

.brand {
  font-size: 2.7rem;

  display: flex;
  align-items: center;
}

div:has(#scale, .search-location) {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 2px;
  background-color: var(--secondary);
  overflow: clip;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.scale-select::after {
  content: "|";
}

#scale {
  border: none;
  background: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  font-weight: bold;
}

.search-location {
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: var(--secondary);
  /* padding-left: 10px; */
  /* border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px; */

  input {
    border: none;
    padding: 5px 16px;
    font-size: inherit;
    font-family: inherit;
    /* border-radius: 20px; */
  }

  input:focus {
    outline: none;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
}

.card {
  background-color: #fff;
  border: 1px solid var(--primary-text);
  padding: 10px;
  margin: 0 auto;
  max-width: 600px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card .head {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--tertiary-text);

  h1 {
    font-size: 2.7rem;
  }
}

.card .content {
  display: flex;
  gap: 15px;
  margin-top: 10px;

  .weather-data {
    display: grid;
    place-items: center;
  }

  .weather {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .desc {
    &.large {
      h2 {
        font-size: 2.4rem;
      }

      p {
        font-size: 2rem;
      }
    }

    &.medium {
      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 1.8rem;
      }
    }

    &.small {
      h2 {
        font-size: 1.8rem;
        text-align: center;
      }

      p {
        font-size: 1.6rem;
      }
    }
  }
}

.time {
  font-size: 2.1rem;
}

.weather-icon {
  &.large {
    width: 84px;
  }

  &.medium {
    width: 54px;
  }
}

.humidity {
  display: flex;
  gap: 2px;
  align-items: center;
  color: var(--tertiary-text);

  i {
    color: var(--background);
  }
}

.temp {
  position: relative;
  font-weight: bold;

  .scale {
    position: absolute;
    top: 0;
  }

  &.large {
    font-size: 7.1rem;
    margin-right: 2.4rem;

    .scale {
      right: -2.4rem;

      font-size: 2.5rem;
    }
  }

  &.medium {
    font-size: 2.8rem;
    padding-right: 1.5rem;

    .scale {
      right: 0;
      font-size: 1.5rem;
    }
  }
}

.card.current-weather {
  .head {
    justify-content: space-between;
  }
}

.card.hourly-weather {
  .content {
    overflow: scroll;
  }

  .weather-data {
    grid-template-rows: repeat(5, 1fr);
    min-width: 140px;
  }

  .weather {
    display: contents;
  }

  .time {
    font-weight: bold;
  }
}

.card.daily-weather {
  .content {
    flex-direction: column;
  }

  .weather-data {
    grid-template-columns: repeat(5, 1fr);

    gap: 15px;
  }

  .daytime {
    display: flex;
    flex-direction: column;
    align-items: center;

    .day {
      font-weight: bold;
      font-size: 2.1rem;
    }

    .date {
      color: var(--tertiary-text);
      font-size: 1.4rem;
    }
  }

  .desc {
    grid-column: span 2;
  }
}
